/* CSS Variables */
:root {
    --main-bg-color: #161616;
    --header-footer-bg-color: #0e0e0e00;
    --text-color: #fff;
    --cta-bg-color: #fbeee0;
    --cta-text-color: #422800;
    --cta-hover-color: #fff;
    --cta-border-color: #422800;
    --cta-shadow-color: #422800;
    --main-font-size: 1em;
    --hero-font-size: 4em;
    --nav-link-font-size: 0.9em;
    --cta-font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background: var(--main-bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: var(--main-font-size);
}

/* Header & Footer Styling */
header, footer {
    background: var(--header-footer-bg-color);
    color: var(--text-color);
    text-align: center;
    padding: 1em 2em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#logo, nav ul, nav ul li, nav a {
    position: relative;
    z-index: 2;
}

#logo {
    font-size: 1.3em; /* Updated font-size */
}

nav ul {
    list-style-type: none;
    padding-left: 0; /* Remove padding */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1em; /* Updated font-size */
    transition: color 0.5s ease-in-out; /* Smooth color transition */
}

nav a:hover, nav a:focus {
    color: #f8d64e; /* Updated hover and focus color */
    outline: none;
    background-color: transparent;
}


/* Hero Section Styling */
#hero, #hero1 {
    color: #fff;
    text-align: center;
    padding: 6em 2em;
    flex-grow: 1; /* allows these sections to grow and take up available space */
}

#hero h1, #hero p, #hero1 h1, #hero1 p, .cta-button {
    position: relative;
    z-index: 2;
}

#hero h1 {
    font-size: 5em; /* Updated font-size */
    align-self: center;
    margin-bottom: 20px;
    margin-top: 1.1%;
    font-family: 'Pacifico', cursive;
    user-select: none;
}

#hero p {
    font-size: 1.3em; /* Updated font-size */
    margin-bottom: 40px;
    user-select: none;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7); /* Darker text shadow */
    font-weight: 700; /* Bold font weight */
    font-family: 'Roboto', sans-serif;
}

/* Hero1 Section Styling */
#hero1 h1 {
    font-size: 6em; /* Updated font-size */
    align-self: center;
    margin-bottom: 20px;
    margin-top: 0.2%;
    font-family: 'Pacifico', cursive;
    user-select: none;
}

#hero1 p {
    font-size: 1.4em; /* Updated font-size */
    margin-bottom: 30px;
    user-select: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Darker text shadow */
    font-weight: 700; /* Bold font weight */
    font-family: 'Roboto', sans-serif;
}


#particles-js {
    background-image: url('images/Agar2-modified.png');
    background-size: auto;  /* or contain, depending on your preference */
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.7;
    border-radius: 50px;  /* Adjust this value as needed */
}

#threeCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cta-button2 {
    background-color: #ffffff;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(245, 165, 35, 0.6);  /* Dual shadow: subtle shadow + gradient shadow */
    color: #422800;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    padding: 0 14px;
    line-height: 20px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 2px rgba(0.5, 0.5, 0.5, 0.5);
    transition: all 0.3s ease;  /* Smooth transition for hover effects */
}
    
.cta-button2:hover {
    background-color: #ffd5b8;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 4px 20px rgba(245, 165, 35, 0.6);  /* Elevated shadow effect on hover */
    transform: translateY(-2px);  /* Slight lift effect on hover */
}

.cta-button2:active {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(245, 165, 35, 0.6);  /* Pressed-in effect on active */
    transform: translateY(1px);
}
  
  .button-logo {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin-right: -2px; /* Adjusted to bring image and text closer */
  }

 

.cta-button1 {
    background-color: #ffffff;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(245, 165, 35, 0.6);  /* Dual shadow: subtle shadow + gradient shadow */
    color: #422800;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    padding: 0 18px;
    line-height: 45px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 2px rgba(0.5, 0.5, 0.5, 0.5);
    transition: all 0.3s ease;  /* Smooth transition for hover effects */
}
    
.cta-button1:hover {
    background-color: #ffd5b8;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 4px 20px rgba(245, 165, 35, 0.6);  /* Elevated shadow effect on hover */
    transform: translateY(-2px);  /* Slight lift effect on hover */
}

.cta-button1:active {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(245, 165, 35, 0.6);  /* Pressed-in effect on active */
    transform: translateY(1px);
}





/*SHOP STYLE*/

/* Products Grid Container */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the minmax values according to your design needs */
    gap: 2rem;
}

/* Sidebar Styling */
.sidebar {
    padding: 1rem;
    border: 1px solid #555;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.05);
    transform-style: preserve-3d; /* Enables 3D transformations */
    transition: transform 0.5s;
}

.sidebar:hover {
    transform: rotateY(20deg); /* 3D rotation on hover */
}

/* Main Shop Content */
.shop-content {
    padding: 2rem;
}

/* Product Card */
.product-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid #555;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.05);
    transform-style: preserve-3d;
    transition: transform 0.5s, box-shadow 0.5s;
}

.product-card:hover {
    transform: rotateX(1deg) scale(1.01);
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
}

/* Product Image (assuming you might have one) */
.product-image {
    max-width: 100px;
    max-height: 100px;
    object-fit:contain;
    border-radius: 50%;
    margin-right: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Product Name and Price Styling */
.product-name {
    font-size: 1.25rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.product-price {
    color: #ffd5b8;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}








  
/* Style for the UFO icon container */
.ufo-icon-container {
    display: inline-block; /* Display the container inline with the text */
    margin-right: 10px; /* Adjust the margin as needed for spacing */
    vertical-align: middle; /* Vertically align the container with the text */
}

/* Style for the UFO icon */
.ufo-icon {
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    vertical-align: middle; /* Vertically align the icon with the text */
}


#logo a, .header-logo, .footer-logo, .brand-name, footer p {
    position: relative;
    z-index: 2;
    user-select: none;
}

#logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    
}

.header-logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.footer-logo {
    width: 20px;
    height: auto;
    margin-right: 10px;
    transform: rotate(310deg);
}

.brand-name {
    color: #0586d1;
    font-weight: bold;
}

footer p {
    margin: 0;
}

/* Enhanced Navigation Styles */
nav {
    position: sticky;  /* Makes the navigation bar stick to the top of the page */
    top: 0;  /* Aligns the navigation bar to the top of the page */
    z-index: 1000;  /* Ensures the navigation bar is above other content */
    background-color: #00000000; /* Adds a background color to make text easily readable */
}

#mobile-menu-icon {
    display: none;  /* Remains hidden until needed for responsiveness */
    cursor: pointer;
    font-size: 30px;  /* Increases the size of the mobile menu icon */
}

#nav-list {
    transition: max-height 0.4s ease-in-out;  /* Smoothens the transition effect */
    background-color: #00000000; /* Adds a background color to dropdown menu */
}

/* Enhanced Hero Section */
#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7); /* Darkens the shadow for better visibility */
}

/* Base Styles */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#mobile-menu-icon {
    display: none;
    cursor: pointer;
    padding: 15px;
    position: relative;
}

.bar1, .bar2, .bar3 {
    background-color: #0586d1;
    height: 2.6px;
    width: 20px;
    margin: 6px 0;
    transition: 0.4s;
}

/* Mobile Styles */
@media only screen and (max-width: 480px), 
       only screen and (max-width: 480px) and (orientation: landscape) {
    #mobile-menu-icon {
        display: block;
    }
    #particles-js {
        background-image: url('images/Agar2-modified.png');
        background-size: auto;  /* or contain, depending on your preference */
        background-position: center center;
        background-repeat: no-repeat;
        /* position: absolute; */
        height: 100vh; 
        width: 100vw; /* Full viewport width */
        position: fixed; /* Position fixed to cover the viewport */
        top: 0; /* Position it at the top */
        left: 0; /* Position it at the left */
        z-index: -1; /* Ensure it’s behind your content */
        background-size: 95% auto; /* Adjust the percentage as needed */
        opacity: 0.7;
        border-radius: 50px; 
    }

    #threeCanvas {
        width: 100vw; /* Full viewport width */
        height: 100vh; /* Full viewport height */
        position: fixed; /* Position fixed to cover the viewport */
        top: 0; /* Position it at the top */
        left: 0; /* Position it at the left */
        z-index: -1; /* Ensure it’s behind your content */
    }

    #mobile-menu-icon.toggle .bar1 {
        -webkit-transform: rotate(-45deg) translate(-5px, 6px);
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    #mobile-menu-icon.toggle .bar2 {opacity: 0;}

    #mobile-menu-icon.toggle .bar3 {
        -webkit-transform: rotate(45deg) translate(-5px, -6px);
        transform: rotate(45deg) translate(-5px, -6px);
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background-color: #0586d1;
        width: max-content;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    nav ul li {
        display: block;
        margin: 15px 0;
    }

    nav ul.active {
        display: flex;
    }

    /* Hero Section Styling */
    #hero h1 {
        font-size: 2em; /* Updated font-size */
        align-self: center;
        margin-bottom: 20px;
        margin-top: 0.7%;
        font-family: 'Pacifico', cursive;
        user-select: none;
    }

    #hero p {
        font-size: 1em; /* Updated font-size */
        margin-bottom: 30px;
        user-select: none;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Darker text shadow */
        font-weight: 700; /* Bold font weight */
        font-family: 'Roboto', sans-serif;
    }


        /* Hero1 Section Styling */
    #hero1 h1 {
        font-size: 2.2em; /* Updated font-size */
        align-self: center;
        margin-bottom: 20px;
        margin-top: 0.7%;
        font-family: 'Pacifico', cursive;
        user-select: none;
    }

    #hero1 p {
        font-size: 1em; /* Updated font-size */
        margin-bottom: 30px;
        user-select: none;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Darker text shadow */
        font-weight: 700; /* Bold font weight */
        font-family: 'Roboto', sans-serif;
    }

    nav a, #logo {
        font-size: 16px;
    }
    .header-logo {
        width: 30px;
        height: auto;
        margin-right: 6px;
    }

    .cta-button1 {
        font-size: 18px;
        line-height: 40px;
        z-index: 3;
    }

    footer p {
        font-size: 12px;
    }
}

/* Tablet Styles: Landscape & Portrait */
@media only screen and (min-width: 481px) and (max-width: 768px), 
       only screen and (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
    #hero h1 {
        font-size: 3em;
       
    }

    #threeCanvas {
        width: 100vw; /* Full viewport width */
        height: 100vh; /* Full viewport height */
        position: fixed; /* Position fixed to cover the viewport */
        top: 0; /* Position it at the top */
        left: 0; /* Position it at the left */
        z-index: -1; /* Ensure it’s behind your content */
    }
    #particles-js {
        background-image: url('images/Agar2-modified.png');
        background-size: auto;  /* or contain, depending on your preference */
        background-position: center center;
        background-repeat: no-repeat;
        /* position: absolute; */
        height: 100vh; 
        width: 100vw; /* Full viewport width */
        position: fixed; /* Position fixed to cover the viewport */
        top: 0; /* Position it at the top */
        left: 0; /* Position it at the left */
        z-index: -1; /* Ensure it’s behind your content */
        background-size: 70% auto; /* Adjust the percentage as needed */
        opacity: 0.7;
        border-radius: 50px; 
    }

    /* Hero Section Styling */
    #hero h1 {
        font-size: 2.2em; /* Updated font-size */
        align-self: center;
        margin-bottom: 20px;
        margin-top: 0.7%;
        font-family: 'Pacifico', cursive;
        user-select: none;
    }

    #hero p {
        font-size: 1em; /* Updated font-size */
        margin-bottom: 30px;
        user-select: none;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Darker text shadow */
        font-weight: 700; /* Bold font weight */
        font-family: 'Roboto', sans-serif;
    }

        /* Hero1 Section Styling */
    #hero1 h1 {
        font-size: 3em; /* Updated font-size */
        align-self: center;
        margin-bottom: 20px;
        margin-top: 0.4%;
        font-family: 'Pacifico', cursive;
        user-select: none;
    }

    #hero1 p {
        font-size: 1.2em; /* Updated font-size */
        margin-bottom: 30px;
        user-select: none;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Darker text shadow */
        font-weight: 700; /* Bold font weight */
        font-family: 'Roboto', sans-serif;
    }

    nav a, #logo {
        font-size: 14px;
    }

    .cta-button1 {
        font-size: 24px;
        line-height: 45px;
        z-index: 3;
    }

    footer p {
        font-size: 10px;
    }
}

/* Specific Device Styles */
/* iPhone SE Styles */
@media only screen 
       and (min-device-width: 375px) 
       and (max-device-width: 667px) 
       and (-webkit-min-device-pixel-ratio: 2) {
        #mobile-menu-icon {
            display: block;
        }
        #particles-js {
            height: 100vh; 
            width: 100vw; /* Full viewport width */
            position: fixed; /* Position fixed to cover the viewport */
            top: 0; /* Position it at the top */
            left: 0; /* Position it at the left */
            z-index: -1; /* Ensure it’s behind your content */
            background-size: 95% auto; /* Adjust the percentage as needed */
        }

        #threeCanvas {
            width: 100vw; /* Full viewport width */
            height: 100vh; /* Full viewport height */
            position: fixed; /* Position fixed to cover the viewport */
            top: 0; /* Position it at the top */
            left: 0; /* Position it at the left */
            z-index: -1; /* Ensure it’s behind your content */
        }
    
        #mobile-menu-icon.toggle .bar1 {
            -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
        }
    
        #mobile-menu-icon.toggle .bar2 {opacity: 0;}
    
        #mobile-menu-icon.toggle .bar3 {
            -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
        }
    
        nav ul {
            display: none;
            flex-direction: column;
            align-items: center;
            position: absolute;
            background-color: #0586d1;
            width: max-content;
            top: 60px;
            left: 50%;
            transform: translateX(-50%);
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
    
        nav ul li {
            display: block;
            margin: 15px 0;
        }
    
        nav ul.active {
            display: flex;
        }
    
       /* Hero Section Styling */
        #hero h1 {
            font-size: 2.2em; /* Updated font-size */
            align-self: center;
            margin-bottom: 20px;
            margin-top: 0.7%;
            font-family: 'Pacifico', cursive;
            user-select: none;
        }

        #hero p {
            font-size: 1em; /* Updated font-size */
            margin-bottom: 30px;
            user-select: none;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Darker text shadow */
            font-weight: 700; /* Bold font weight */
            font-family: 'Roboto', sans-serif;
        }

        /* Hero1 Section Styling */
        #hero1 h1 {
            font-size: 2.2em; /* Updated font-size */
            align-self: center;
            margin-bottom: 20px;
            margin-top: 0.4%;
            font-family: 'Pacifico', cursive;
            user-select: none;
        }
    
        #hero1 p {
            font-size: 0.9em; /* Updated font-size */
            margin-bottom: 30px;
            user-select: none;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Darker text shadow */
            font-weight: 700; /* Bold font weight */
            font-family: 'Roboto', sans-serif;
        }

    
        nav a, #logo {
            font-size: 16px;
        }
        .header-logo {
            width: 30px;
            height: auto;
            margin-right: 6px;
        }
    
        .cta-button1 {
            font-size: 18px;
            line-height: 40px;
            z-index: 3;
        }
    
        footer p {
            font-size: 10px;
        }
    }
    
    /* Tablet Styles: Landscape & Portrait */
    @media only screen and (min-width: 481px) and (max-width: 768px), 
           only screen and (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
      
    
        nav a, #logo {
            font-size: 14px;
        }
    
        .cta-button {
            font-size: 24px;
            line-height: 45px;
        }
    
        footer p {
            font-size: 10px;
        }
        #threeCanvas {
            width: 100vw; /* Full viewport width */
            height: 100vh; /* Full viewport height */
            position: fixed; /* Position fixed to cover the viewport */
            top: 0; /* Position it at the top */
            left: 0; /* Position it at the left */
            z-index: -1; /* Ensure it’s behind your content */
        }
            /* Hero Section Styling */
        #hero h1 {
            font-size: 2.2em; /* Updated font-size */
            align-self: center;
            margin-bottom: 20px;
            margin-top: 0.7%;
            font-family: 'Pacifico', cursive;
            user-select: none;
        }

        #hero p {
            font-size: 1em; /* Updated font-size */
            margin-bottom: 30px;
            user-select: none;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Darker text shadow */
            font-weight: 700; /* Bold font weight */
            font-family: 'Roboto', sans-serif;
        }

        /* Hero1 Section Styling */
        #hero1 h1 {
            font-size: 3em; /* Updated font-size */
            align-self: center;
            margin-bottom: 20px;
            margin-top: 0.4%;
            font-family: 'Pacifico', cursive;
            user-select: none;
        }
    
        #hero1 p {
            font-size: 0.9em; /* Updated font-size */
            margin-bottom: 30px;
            user-select: none;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Darker text shadow */
            font-weight: 700; /* Bold font weight */
            font-family: 'Roboto', sans-serif;
        }
        .cta-button1 {
            background-color: #fbeee0;
            border: 2px solid #422800;
            border-radius: 30px;
            box-shadow: #422800 3.5px 3.5px 0 0;
            color: #422800;
            cursor: pointer;
            display: inline-flex; /* Updated to flex for better alignment */
            align-items: center; /* Ensure vertical alignment */
            justify-content: center; /* Center content horizontally */
            font-weight: 700;
            font-size: 22px;
            padding: 0 18px;
            line-height: 50px;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            font-family: 'Roboto', sans-serif;
            text-shadow: 1px 1px 2px rgba(0.5, 0.5, 0.5, 0.5); /* Adjust shadow as needed */
            z-index: 3;
          }
    }

/* Small Desktops and Laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

    nav a, #logo {
        font-size: 18px;
    }
    #threeCanvas {
        width: 100vw; /* Full viewport width */
        height: 100vh; /* Full viewport height */
        position: fixed; /* Position fixed to cover the viewport */
        top: 0; /* Position it at the top */
        left: 0; /* Position it at the left */
        z-index: -1; /* Ensure it’s behind your content */
    }
    #particles-js {
        background-image: url('images/Agar2-modified.png');
        background-size: auto;  /* or contain, depending on your preference */
        background-position: center center;
        background-repeat: no-repeat;
        /* position: absolute; */
        height: 100vh; 
        width: 100vw; /* Full viewport width */
        position: fixed; /* Position fixed to cover the viewport */
        top: 0; /* Position it at the top */
        left: 0; /* Position it at the left */
        z-index: -1; /* Ensure it’s behind your content */
        background-size: 60% auto; /* Adjust the percentage as needed */
        opacity: 0.7;
        border-radius: 50px; 
    }
    /* Hero Section Styling */
    #hero h1 {
        font-size: 2.2em; /* Updated font-size */
        align-self: center;
        margin-bottom: 20px;
        margin-top: 0.6%;
        font-family: 'Pacifico', cursive;
        user-select: none;
    }

    #hero p {
        font-size: 1em; /* Updated font-size */
        margin-bottom: 30px;
        user-select: none;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Darker text shadow */
        font-weight: 700; /* Bold font weight */
        font-family: 'Roboto', sans-serif;
    }
    /* Hero1 Section Styling */
    #hero1 h1 {
        font-size: 4.4em; /* Updated font-size */
        align-self: center;
        margin-bottom: 20px;
        margin-top: 0.4%;
        font-family: 'Pacifico', cursive;
        user-select: none;
    }

    #hero1 p {
        font-size: 2em; /* Updated font-size */
        margin-bottom: 30px;
        user-select: none;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Darker text shadow */
        font-weight: 700; /* Bold font weight */
        font-family: 'Roboto', sans-serif;
    }

    .cta-button1 {
        background-color: #fbeee0;
        border: 2px solid #422800;
        border-radius: 30px;
        box-shadow: #422800 3.5px 3.5px 0 0;
        color: #422800;
        cursor: pointer;
        display: inline-flex; /* Updated to flex for better alignment */
        align-items: center; /* Ensure vertical alignment */
        justify-content: center; /* Center content horizontally */
        font-weight: 700;
        font-size: 24px;
        padding: 0 18px;
        line-height: 50px;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        font-family: 'Roboto', sans-serif;
        text-shadow: 1px 1px 2px rgba(0.5, 0.5, 0.5, 0.5); /* Adjust shadow as needed */
        z-index: 3;
      }

    footer p {
        font-size: 12px;
    }
}

/* Large Desktop Styles */
@media only screen and (min-width: 1025px) {
    #hero h1 {
        font-size: 5.8em;
    }
    #hero1 h1 {
        font-size: 4em; /* Updated font-size */
        align-self: center;
        margin-bottom: 20px;
        margin-top: 0%;
        font-family: 'Pacifico', cursive;
        user-select: none;
    }
    #hero p {
        font-size: 1.8em;
        
    }

    nav a, #logo {
        font-size: 22px;
    }

    .cta-button1 {
        background-color: #fbeee0;
        border: 2px solid #422800;
        border-radius: 30px;
        box-shadow: #422800 3.5px 3.5px 0 0;
        color: #422800;
        cursor: pointer;
        display: inline-flex; /* Updated to flex for better alignment */
        align-items: center; /* Ensure vertical alignment */
        justify-content: center; /* Center content horizontally */
        font-weight: 700;
        font-size: 24px;
        padding: 0 18px;
        line-height: 50px;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        font-family: 'Roboto', sans-serif;
        text-shadow: 1px 1px 2px rgba(0.5, 0.5, 0.5, 0.5); /* Adjust shadow as needed */
        z-index: 3;
      }

    footer p {
        font-size: 16px;
    }

    /* Mobile Styles: Specifically for Samsung S8 and similar */
@media only screen and (max-width: 360px) {
    #mobile-menu-icon {
        display: block;
    }

    /* Ensuring the canvas takes full width and height */
    #threeCanvas {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }

    #particles-js {
        height: 100vh; 
        background-size: 95% auto; /* Adjust the percentage as needed */
    }

    /* Styling navigation, headers, footers, and buttons for smaller screens */
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        display: block;
        margin: 15px 0;
    }

    #hero h1 {
        font-size: 2.5em;
        
    }

    /* Hero1 Section Styling */
    #hero1 h1 {
        font-size: 2.2em; /* Updated font-size */
        align-self: center;
        margin-bottom: 20px;
        margin-top: 0.4%;
        font-family: 'Pacifico', cursive;
        user-select: none;
    }

    #hero1 p {
        font-size: 0.9em; /* Updated font-size */
        margin-bottom: 30px;
        user-select: none;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Darker text shadow */
        font-weight: 700; /* Bold font weight */
        font-family: 'Roboto', sans-serif;
    }

    #hero p {
        font-size: 1em;
    }

    nav a, #logo {
        font-size: 14px;
    }

    .cta-button1 {
        background-color: #fbeee0;
        border: 2px solid #422800;
        border-radius: 30px;
        box-shadow: #422800 3.5px 3.5px 0 0;
        color: #422800;
        cursor: pointer;
        display: inline-flex; /* Updated to flex for better alignment */
        align-items: center; /* Ensure vertical alignment */
        justify-content: center; /* Center content horizontally */
        font-weight: 700;
        font-size: 22px;
        padding: 0 18px;
        line-height: 50px;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        font-family: 'Roboto', sans-serif;
        text-shadow: 1px 1px 2px rgba(0.5, 0.5, 0.5, 0.5); /* Adjust shadow as needed */
       
      }

    footer p {
        font-size: 12px;
    }
}

}
