* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background: #161616;
    min-height: 100vh; /* ensures body takes full viewport height */
    display: flex;
    flex-direction: column;
}

/* Header Styling */
header {
    background: #0e0e0e2f;
    color: #fff;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    user-select: none;
}

#logo, nav ul, nav ul li, nav a {
    position: relative;
    z-index: 2;
}

#logo {
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
}

nav a:focus {
    outline: 2px solid #0586d1;  /* Adjust color as per your design */
}


/* Hero Section Styling */
#hero {
    
    color: #fff;
    text-align: center;
    padding: 6em 2em;
    flex-grow: 1; /* allows this section to grow and take up available space */
}

#hero h1, #hero p, .cta-button {
    position: relative;
    z-index: 2;
}

#hero h1 {
    font-size: 4em;
    align-self: center;
    margin-bottom: 20px;
    margin-top: 5%;
    font-family: 'Pacifico', cursive;
    user-select: none;
}

#hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
    user-select: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 600; /* Adjust value as needed */
    
}

/* Hero1 Section Styling */
#hero1 {
    color: #fff;
    text-align: center;
    padding: 6em 2em;
    flex-grow: 1; /* allows this section to grow and take up available space */
}

#hero1 h1, #hero1 p, .cta-button {
    position: relative;
    z-index: 2;
}

#hero1 h1 {
    font-size: 6em;
    align-self: center;
    margin-bottom: 20px;
    margin-top: 1%;
    font-family: 'Pacifico', cursive;
    user-select: none;
}

#hero1 p {
    font-size: 1.2em;
    margin-bottom: 30px;
    user-select: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 500; /* Adjust value as needed */
}


#particles-js {
    background-image: url('images/Agar2-modified.png');
    background-size: auto;  /* or contain, depending on your preference */
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 100px;  /* Adjust this value as needed */
}

#threeCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.cta-button {
    text-decoration: none;
    background: #0586d1;
    color: #fff;
    padding: 10px 50px; /* Wider padding for UFO shape */
    font-size: 1em;
  
    border-radius: 50px; /* Very rounded for UFO shape */
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    position: relative; /* Needed for after pseudo-element */
    overflow: hidden; /* Ensures inner lighting doesn't go outside the button */
    user-select: none;
    z-index: 10;
}

/* Adding lighting effect at the bottom of the UFO */
.cta-button::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; /* Adjust as needed for lighting width */
    height: 15px; /* Adjust as needed for lighting height */
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent white for light effect */
    border-radius: 50%;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5); /* Glowing effect */
}

.cta-button:hover {
    background: #036ba4; /* Slightly darker blue on hover */
    transform: translateY(-2px); /* Button moves up, like UFO hovering */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

/* Footer Styling */
footer {
    background: #33333300;
    color: #fff;
    text-align: center;
    padding: 1em 2em;
    z-index: 2;
}

/* Style for the UFO icon container */
.ufo-icon-container {
    display: inline-block; /* Display the container inline with the text */
    margin-right: 10px; /* Adjust the margin as needed for spacing */
    vertical-align: middle; /* Vertically align the container with the text */
}

/* Style for the UFO icon */
.ufo-icon {
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    vertical-align: middle; /* Vertically align the icon with the text */
}


#logo a, .header-logo, .footer-logo, .brand-name, footer p {
    position: relative;
    z-index: 2;
    user-select: none;
}

#logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.header-logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.footer-logo {
    width: 20px;
    height: auto;
    margin-right: 10px;
    transform: rotate(310deg);
}

.brand-name {
    color: #0586d1;
    font-weight: bold;
}

footer p {
    margin: 0;
}

/* Enhanced Navigation Styles */
nav {
    position: relative;
}

#mobile-menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
}

#nav-list {
    transition: max-height 0.3s ease-in-out;
}

/* Enhanced Hero Section */
#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* General Responsive Text Sizing */
body {
    font-size: 12px;
}

/* Tablets - landscape and portrait */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #hero h1 {
        font-size: 0.7em; /* Decreased font size for Samsung S21+ */
    }

    nav a {
        font-size: 0.4em; /* Decreased font size for Samsung S21+ */
    }

    footer p {
        font-size: 0.5em; /* Decreased font size for Samsung S21+ */
    }

    .cta-button {
        padding: 8px 16px; /* Adjusted padding for smaller screens */
        font-size: 0.6em; /* Adjusted font size for smaller screens */
    }
    #logo {
        font-size: 0.6em;  /* Adjust as per your preference */
    }
    
    #logo .header-logo {
        width: 20px;  /* Adjust as per your preference */
    }
}

/* Small desktops and laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #hero h1 {
        font-size: 4em; /* Decreased font size for Samsung S21+ */
    }

    nav a {
        font-size: 0.7em; /* Adjusted font size for Samsung S21+ */
    }

    .cta-button {
        padding: 9px 18px;
        font-size: 1em;
    }
}

/* Large desktops */
@media only screen and (min-width: 1025px) {
    #hero h1 {
        font-size: 6.5em;
    }

    #hero p {
        font-size: 1.6em;
    }

    nav ul li {
        margin-right: 20px;
    }

    body {
        font-size: 18px;
    }

    .cta-button {
        padding: 10px 20px;
        font-size: 1.2em;
    }
}

/* Mobile Styles and Hamburger Menu */
@media only screen and (max-width: 480px) {
    body {
        margin: 0;
        font-family: 'Montserrat', sans-serif;  /* Ensuring consistency in font usage */
    }

    #mobile-menu-icon {
        display: block;
        /* Removed font-size and color as it's not needed with the bar approach */
        cursor: pointer;
        padding: 15px;
        background-color: #161616;
        position: relative; /* Ensure the position is relative for the bars to position correctly */
    }
    /* Additions for the hamburger to 'X' animation: */
    .bar1, .bar2, .bar3 {
        background-color: #0586d1;
        height: 3px;
        width: 20px;  /* Adjust width accordingly */
        margin: 6px 0;
        transition: 0.4s;
    }

    #mobile-menu-icon.toggle .bar1 {
        -webkit-transform: rotate(-45deg) translate(-5px, 6px);
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    #mobile-menu-icon.toggle .bar2 {opacity: 0;}

    #mobile-menu-icon.toggle .bar3 {
        -webkit-transform: rotate(45deg) translate(-5px, -6px);
        transform: rotate(45deg) translate(-5px, -6px);
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background-color: #0586d1;
        width: max-content;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    nav ul li {
        display: block;
        margin: 15px 0;
        white-space: nowrap;
    }

    nav ul.active {
        display: flex;
    }
    
    nav a {
        padding: 15px 20px;
        text-align: center;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        transition: background-color 0.3s ease;
    }

    nav a:hover {
        background-color: #0369a1;
    }
}

